* {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    
}
h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(52, 20, 233), rgb(156, 190, 33));
   -webkit-text-fill-color: transparent;
  }